body {
 background-image: url("../formulario/imagenes/mario.jpeg");
}

#formulario {

 width: 200px;
 height: 200px;

}

.cajitas {
 width: 250px;
 background-color: purple;
 margin: 0 auto;
 color: white;

}

.cajitas,placeholder {
 font-family: sans-serif;
 font-style: italic;

}

::-webkit-input-placeholder {
 color: white;
}
